<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SanteServlet</servlet-name>
        <servlet-class>servlets.SanteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BanqueServlet</servlet-name>
        <servlet-class>servlets.BanqueServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SanteServlet</servlet-name>
        <url-pattern>/SanteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BanqueServlet</servlet-name>
        <url-pattern>/BanqueServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
